.contenaireProfil{
  background-color: $color-secondary;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  padding-bottom: 20px;
  margin-bottom: 50px;
  padding-top: 1px;

  h1{
    text-align: center;
    background-color: $color-tertaire;
    color: white;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 40px;
  }

  .profilPicture{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    display: block;
    margin: 0px auto;
    margin-bottom: 20px;
    box-shadow: 10px 10px 8px $color-tertaire;
  }
  .updatePicture{
    display: flex;
    flex-direction: column;
    font-size: 13px;
    margin-left: 75%;
    margin-bottom: 50px;
    
    .bntProfilUpdate{
      @include bouton(110px, 13px, bold, $color-secondary);
      background: $color-tertaire;
      cursor: pointer;
    }
  }

  .pseudoProfil, .departementProfil, .bioProfil{
    text-align: center;
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20px;
    padding-bottom: 10px;
    box-shadow: 3px 3px 8px $color-tertaire;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;

    h2{
      padding-top: 10px;
    }
  }
}

#profilBack{
  font-size: 40px;
  color: $color-secondary;
  margin-left: 30px;
}

#iconLoadProfilPict{
  font-size: 35px;
  position: relative;
  top: -50px;
  z-index: 1;
}

#file{
margin-bottom: 30px;
cursor: pointer;
margin-top: -30px;
width: 50px;
height: 30px;;
margin-left: 0px;
opacity: 0;
z-index: 4;
}
html{background-color: $color-tertaire;}

@media screen and (max-width: 992px){
  .ContenaireProfil{
    background-color: $color-tertaire;
    margin-top: -70px;
    padding-top: 50px;
  }

  #profilBack{position: absolute;}

  .profilPicture{
    width: 200px!important;
    height: 200px!important;
  }

  h1{font-size: 28px;}

  .updatePicture{
    margin-top: -100px;
    margin-bottom: 75px!important;
    margin-left: 70px!important;
  }
}

@media screen and (max-width: 785px){
  h1{font-size: map-get($size, petit);}

  h2{font-size: map-get($size, petit)!important;}

  .contenaireProfil{
    width: 400px;
    margin-left:auto!important;
    margin-right:auto!important;
    margin-top: -10px;
  }

  .updatePicture{
    margin-top: 30px;
    margin-bottom: 30px!important;
  }

  .updatePicture{margin-left: 75%!important;}

  #profilBack{
    margin-top: -50px!important;
    left: -20px;
  }

  .TexteHeader{
    font-size: map-get($size, petit);
  }

};
